/* ESTO DEBE IR EN EL INDEX

\:root
  font-size: 62.5%

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &::after, &::before 
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

/* --------------- */

@import './views/home'
@import './views/profile'
@import './views/membership'
@import './views/contact'
@import './views/form'