<div ng-controller="homeController" ng-init="listarUsuarios()">
  <div class="content-container">
    <div class="container">
      <div class="cards-container">

        
        <div class="card {{ randomClassSize() }}" ng-repeat="user in userList.users" ng-click="goToProfile(user.id)">
          <div class="title-card">
            <h6>Mi proyecto</h6>
          </div>
          <div class="content-card"><img src="https://assets.entrepreneur.com/content/16x9/822/1409156187-this-one-word-will-always-stifle-creativity.jpg"/></div>
          <div class="footer-card"><span>By {{user.nombre}} {{user.apellidos}}</span>
            <div class="card-actions"><i aria-hidden="true" class="fa fa-heart"></i><i aria-hidden="true" class="fa fa-facebook"></i><i aria-hidden="true" class="fa fa-twitter"></i></div>
          </div>
        </div>  
        
      </div>
    </div>
  </div>
</div>
