<div class="pricing-container">
    <header class="cd-header">
        <h1>Pricing</h1>
    </header>
    <div class="cd-pricing-container">
        <ul class="cd-pricing-list">
            <li>
                <header class="cd-pricing-header">
                    <h2>Basic</h2>
                    <div class="cd-price"><span class="cd-currency">$</span><span class="cd-value">5</span><span class="cd-duration">mo</span></div>
                </header>
                <!-- .cd-pricing-header-->
                <div class="cd-pricing-body">
                    <ul class="cd-pricing-features">
                        <li><em>100</em> Portfolio Items</li>
                        <li><em>Slack</em> Integration</li>
                        <li><em>Github</em> Integration</li>
                        <li><em>1</em> Email account</li>
                        <li><em>Employment </em> exchange platform</li>
                    </ul>
                </div>
                <!-- .cd-pricing-body-->
                <footer class="cd-pricing-footer"><a href="#" class="cd-select">Select</a></footer>
                <!-- .cd-pricing-footer-->
            </li>
            <li class="cd-popular">
                <header class="cd-pricing-header">
                    <h2>Popular</h2>
                    <div class="cd-price"><span class="cd-currency">$</span><span class="cd-value">15</span><span class="cd-duration">mo</span></div>
                </header>
                <!-- .cd-pricing-header-->
                <div class="cd-pricing-body">
                    <ul class="cd-pricing-features">
                        <li><em>200</em> Portfolio Items</li>
                        <li><em>Slack</em> Integration</li>
                        <li><em>Github</em> Integration</li>
                        <li><em>5</em> Email accounts</li>
                        <li><em>Employment</em> exchange platform</li>
                        <li><em></em></li>
                    </ul>
                </div>
                <!-- .cd-pricing-body-->
                <footer class="cd-pricing-footer"><a href="#" class="cd-select">Select</a></footer>
                <!-- .cd-pricing-footer-->
            </li>
            <li>
                <header class="cd-pricing-header">
                    <h2>Premier</h2>
                    <div class="cd-price"><span class="cd-currency">$</span><span class="cd-value">30</span><span class="cd-duration">mo</span></div>
                </header>
                <!-- .cd-pricing-header-->
                <div class="cd-pricing-body">
                    <ul class="cd-pricing-features">
                        <li><em>Unlimited</em> Portfolio Items</li>
                        <li><em>Slack</em> Integration</li>
                        <li><em>Github</em> Integration</li>
                        <li><em>10</em> Email accounts</li>
                        <li><em>Employment</em> exchange platform</li>
                    </ul>
                </div>
                <!-- .cd-pricing-body-->
                <footer class="cd-pricing-footer"><a href="#" class="cd-select">Select</a></footer>
                <!-- .cd-pricing-footer-->
            </li>
        </ul>
        <!-- .cd-pricing-list-->
    </div>
    <!-- .cd-pricing-container-->
</div>