<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="Name"/>
      <input type="text" placeholder="Last Name"/>
      <input type="text" placeholder="Faculty"/>
      <input type="text" placeholder="Career"/>
      <input type="text" placeholder="email address"/>
      <input type="password" placeholder="password"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#/login">Sign In</a></p>
    </form>
  </div>
</div>
