<div ng-controller="userProfileController" ng-init="buscarUsuario()">
    <div class="container-fluid user-bg"></div>
    <div class="user-intro">
        <div class="user-portrait"><img ng-src="{{user.user.foto}}"/></div>
    </div>
    <div class="content-container top-adjustment">
        <div class="user-info">
            <p class="name lead">{{user.user.nombre}}</p>
            <div class="bg-wrapper">
                <p>{{user.user.carrera}}</p>
                <div class="bg-opacity"></div>
            </div>
            <div class="bg-wrapper">
                <p>{{user.user.correo}}</p>
                <div class="bg-opacity"></div>
            </div>
        </div>
        <div class="container">
            <div class="container_profile">
                <div class="profile_file">
                    <div ng-if="!user.user.proyectos"><b>Lo siento! Aun no tengo proyectos</b></div>
                    <div ng-repeat="proyecto in user.user.proyectos" class="ng-class: randomClassSize">
                        <p><b>File: </b><a href="http://localhost/PortafolioUlacit/public/file/download/{{proyecto.file}}"><i class="fa fa-file" aria-hidden="true"></i></a></p><br>
                        <p><b>Icon: </b> {{proyecto.icon}}</p>
                    </div>

                </div>
                <div class="aside_profile">
                    <div class="profile_about">
                        <h6>About</h6>
                        <div class="description">
                            <p>{{user.user.acerca}}</p>
                        </div>
                    </div>
                    <div class="profile_experience">
                        <h6>Experience</h6>
                        <div class="description">
                            <p>{{user.user.experiencia}}</p>
                        </div>
                    </div>
                    <div class="profile_concerns">
                        <h6>Concerns</h6>
                        <div class="description">
                            <p ng-repeat="interes in user.user.intereses">{{interes}}</p>
                            <p ng-repeat="interes in user.user.intereses">{{interes}}</p>
                        </div>
                    </div>
                    <div class="profile_concerns">
                        <h6><a href="#/contact">Contact me</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>